<h3 class="text-center mb-4">Thị Trường Chứng Khoán</h3>

<div class="container-fluid">
    <!-- Ticker Tape -->
    <div class="row">
        <div class="col-12 mb-3">
            <nb-card>
                <nb-card-header>
                    <h4 class="nb-text">Ticker Tape</h4>
                </nb-card-header>
                <nb-card-body>
                    <div class="tradingview-widget-container">
                        <tr-ticker-tape></tr-ticker-tape>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <!-- Market Overview -->
    <div class="row">
        <div class="col-12 mb-3">
            <nb-card>
                <nb-card-header>
                    <h4 class="nb-text">Tổng Quan Thị Trường</h4>
                </nb-card-header>
                <nb-card-body>
                    <div class="tradingview-widget-container">
                        <tr-market-overview></tr-market-overview>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <nb-card>
            <nb-card-header>
                <h4 class="nb-text">Danh Sách Nổi Bật</h4>
            </nb-card-header>
            <nb-card-body>
                <div class="tradingview-widget-container">
                    <tr-hotlist></tr-hotlist>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

    <!-- Market Quotes -->
    <div class="row">
        <div class="col-12 mb-3">
            <nb-card>
                <nb-card-header>
                    <h4 class="nb-text">Bảng Báo Giá Thị Trường</h4>
                </nb-card-header>
                <nb-card-body>
                    <div class="tradingview-widget-container">
                        <tr-market-quotes></tr-market-quotes>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <!-- Hotlist, Symbol Overview and Mini Chart -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <nb-card>
                <nb-card-header>
                    <h4 class="nb-text">Tổng Quan Mã Cổ Phiếu</h4>
                </nb-card-header>
                <nb-card-body>
                    <div class="tradingview-widget-container">
                        <tr-symbol-overview></tr-symbol-overview>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="col-md-6 mb-3"></div>
        <nb-card>
            <nb-card-header>
                <h4 class="nb-text">Mini Chart</h4>
            </nb-card-header>
            <nb-card-body>
                <div class="tradingview-widget-container">
                    <tr-mini-chart></tr-mini-chart>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>