<nb-card>
    <nb-card-header>
        Trang của tôi
    </nb-card-header>
    <nb-card-body>
        <gridster [options]="options" *ngIf="dashboard">
            <gridster-item [item]="item" *ngFor="let item of dashboard; let i = index"
                [ngClass]="{'gridster-item-locked': item.locked}">
                <nb-card class="full-height">
                    <nb-card-header class="drag-handler">
                        <h3 class="nb-text">{{ item.type }}</h3>
                        <!-- Lock button is removed to disable any changes -->
                    </nb-card-header>
                    <nb-card-body>
                        <ng-container [ngSwitch]="item.type">
                            <!-- Advanced Charts -->
                            <ngx-tr-advanced-chart *ngSwitchCase="'AdvancedChart'"></ngx-tr-advanced-chart>
                            <ngx-tr-mini-chart *ngSwitchCase="'MiniChart'"></ngx-tr-mini-chart>
                            <ngx-tr-symbol-overview *ngSwitchCase="'SymbolOverview'"></ngx-tr-symbol-overview>

                            <!-- Heatmaps -->
                            <ngx-tr-etf-heatmap *ngSwitchCase="'EtfHeatmap'"></ngx-tr-etf-heatmap>
                            <ngx-tr-stock-heatmap *ngSwitchCase="'StockHeatmap'"></ngx-tr-stock-heatmap>
                            <ngx-tr-crypto-coins-heatmap
                                *ngSwitchCase="'CryptoCoinsHeatmap'"></ngx-tr-crypto-coins-heatmap>
                            <ngx-tr-forex-cross-rates *ngSwitchCase="'ForexCrossRates'"></ngx-tr-forex-cross-rates>
                            <ngx-tr-forex-heatmap *ngSwitchCase="'ForexHeatmap'"></ngx-tr-forex-heatmap>

                            <!-- Market Data -->
                            <ngx-tr-hotlist *ngSwitchCase="'HotList'"></ngx-tr-hotlist>
                            <ngx-tr-market-overview *ngSwitchCase="'MarketOverview'"></ngx-tr-market-overview>
                            <ngx-tr-market-quotes *ngSwitchCase="'MarketQuotes'"></ngx-tr-market-quotes>

                            <!-- News -->
                            <ngx-tr-news *ngSwitchCase="'News'"></ngx-tr-news>

                            <!-- Screener -->
                            <ngx-tr-cryptocurrency-market
                                *ngSwitchCase="'CryptocurrencyMarket'"></ngx-tr-cryptocurrency-market>
                            <ngx-tr-screener *ngSwitchCase="'Screener'"></ngx-tr-screener>

                            <!-- Symbol Info -->
                            <ngx-tr-symbol-financials-data
                                *ngSwitchCase="'SymbolFinancialsData'"></ngx-tr-symbol-financials-data>
                            <ngx-tr-symbol-info *ngSwitchCase="'SymbolInfo'"></ngx-tr-symbol-info>
                            <ngx-tr-symbol-profile *ngSwitchCase="'SymbolProfile'"></ngx-tr-symbol-profile>
                            <ngx-tr-symbol-technical-analysis
                                *ngSwitchCase="'SymbolTechnicalAnalysis'"></ngx-tr-symbol-technical-analysis>

                            <!-- Tickers -->
                            <ngx-tr-single-ticker *ngSwitchCase="'SingleTicker'"></ngx-tr-single-ticker>
                            <ngx-tr-ticker *ngSwitchCase="'Ticker'"></ngx-tr-ticker>
                            <ngx-tr-ticker-tape *ngSwitchCase="'TickerTape'"></ngx-tr-ticker-tape>
                        </ng-container>
                    </nb-card-body>
                </nb-card>
            </gridster-item>
        </gridster>
    </nb-card-body>
</nb-card>