
.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto auto;
  padding: 1rem;

  .chart-container {
    ::ng-deep .tradingview-widget-container {
      height: 100%;
    }
  }

  // Tùy chỉnh vị trí và kích thước cho từng biểu đồ
  .symbol-info {
    grid-column: 1 / 13;    // Từ cột 1 đến cột 8
    grid-row: 1;           // Hàng 1
    height: 180px;
  }


  .financials {
    grid-column: 1 / 13;    // Từ cột 1 đến cột 7
    grid-row: 3;           // Hàng 2
    height: 800px;
  }

  .profile {
    grid-column: 1 / 9;   // Từ cột 7 đến cột 13
    grid-row: 2;           // Hàng 2
    height: 360px;
  }

  
  .technical-analysis {
    grid-column: 9 / 13;   // Từ cột 8 đến cột 13
    grid-row: 2;           // Hàng 1
    height: 360px;
  }
}

.mt-4 {
  margin-top: 1.5rem;
}

// Thêm styles cho header
.stock-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  background-color: nb-theme(card-header-primary-background-color);

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: nb-theme(text-primary-color);
  }

  .symbol {
    font-size: 1.75rem;
    font-weight: bold;
    color: nb-theme(color-primary-500);
  }

  .actions {
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;

    nb-select {
      min-width: 200px;
    }
  }
} 

